@import '../../styles/mixins.scss';

.projectWrapper {
	margin-top: 2rem;

	.aboutWrapper {
		margin-left: 15%;

		>div>div:first-child {
			margin-bottom: 10%;
		}

		>div>div:nth-child(3) {
			max-width: 25rem;
			margin-bottom: 2.25rem;
			margin-left: 2rem;
		}
	}
}