@import '../../styles/mixins.scss';

.aboutContainer {
	@include flex($alignItems: flex-end, $gap: 2rem);

	.contentGrid {
		margin-bottom: 0.5rem;
		width: 200%;

		>span {
			@include font($fontFamily: $clash, $fontSize: 3rem, $color: $primary);
		}

		.aboutElement {
			p:first-child {
				@include font($fontFamily: $clash, $color: $secondary, $fontSize: 1.5rem);
				margin: 1rem 0 0.5rem 0;
			}
		}
	}

	>div:nth-child(3) {
		margin-bottom: 0.5rem;

		p:nth-child(1) {
			@include font($fontFamily: $clash, $color: $secondary, $fontSize: 1.5rem);
			margin: 1rem 0 0.5rem 0;
			width: 40%;
		}

		p:nth-child(2) {
			margin-top: 1rem;
			max-width: 80%;
		}
	}

	margin-bottom: 0;
}